<div class="col-lg-6">
    <ul class="list-unstyled">
        <li> <a href="/posts/reading.html"> 阅读摘要 </a> </li>
        <li> <a href="/posts/linux.html"> Linux </a> </li>
        <li> <a href="/posts/pi"> Raspberry PI </a> </li>
        <li> <a href="/posts/PHP"> PHP </a> </li>
    </ul>
</div>
<!-- /.col-lg-6 -->
<div class="col-lg-6">
    <ul class="list-unstyled">
        <li> <a href="/posts/web.html"> Web </a> </li>
        <li> <a href="/posts/network.html"> 网络相关 </a> </li>
    </ul>
</div>
<!-- /.col-lg-6 -->
